In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold, StratifiedShuffleSplit
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
app_train = pd.read_csv("data/application_train.csv")
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
target = app_train.TARGET
app_train.drop(['SK_ID_CURR','TARGET'],inplace=True,axis=1)
app_train.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
app_test = pd.read_csv("data/application_test.csv")
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
sk_id_curr = app_test['SK_ID_CURR']
app_test.drop(['SK_ID_CURR'],inplace=True,axis=1)

In [6]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

In [7]:
app_train['type'] = 0
app_test['type'] = 1
df = pd.concat([app_train, app_test], axis=0)

In [8]:
df, cat_cols = one_hot_encoder(df)

In [9]:
app_train = df.loc[df['type'] == 0]
app_test = df.loc[df['type'] == 1]
app_train.drop(['type'],inplace=True,axis=1)
app_test.drop(['type'],inplace=True,axis=1)
print(app_train.shape)
print(app_test.shape)

(307511, 260)
(48744, 260)

C:\Users\hardeep.a.arora\AppData\Local\Continuum\anaconda3-64\envs\lending-64\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
def gini_normalized(y_actual, y_pred):
    """Simple normalized Gini based on Scikit-Learn's roc_auc_score"""
    gini = lambda a, p: 2 * roc_auc_score(a, p) - 1
    return gini(y_actual, y_pred) / gini(y_actual, y_actual)

In [14]:
seed_val = 2018
num_folds = 5
pred_val = np.zeros(app_test.shape[0])
# Cross validation model
folds = StratifiedShuffleSplit(n_splits= num_folds, random_state=seed_val)
        
    # Create arrays and dataframes to store results
for n_fold, (train_idx, valid_idx) in enumerate(folds.split(app_train, target)):
    cat_X_train, cat_y_train = app_train.values[train_idx], target[train_idx]
    cat_X_valid, cat_y_valid = app_train.values[valid_idx], target[valid_idx]
    
    dtrain = lgb.Dataset(data=app_train.values[train_idx], 
                              label=target[train_idx], 
                              free_raw_data=False, silent=True)
    dvalid = lgb.Dataset(data=app_train.values[valid_idx], 
                              label=target[valid_idx], 
                              free_raw_data=False, silent=True)
        
    print("Running fold ", n_fold+1)
    params = {
            'objective': 'binary',
            'boosting_type': 'gbdt',
            'nthread': 4,
            'learning_rate': 0.02,  # 02,
            'num_leaves': 10,
            'colsample_bytree': 0.9497036,
            'subsample': 0.8715623,
            'subsample_freq': 1,
            'max_depth': 8,
            'reg_alpha': 0.041545473,
            'reg_lambda': 0.0735294,
            'min_split_gain': 0.0222415,
            'min_child_weight': 60, # 39.3259775,
            'seed': seed_val,
            'verbose': -1,
            'metric': 'auc',
        }
    
    model = lgb.train(
            params=params,
            train_set=dtrain,
            num_boost_round=4000,
            valid_sets=[dtrain, dvalid],
            early_stopping_rounds=200,
            verbose_eval=100
        )
    
    pred_val += model.predict(app_test)
    print('fold:', n_fold+1, '/', num_folds,
                 ' -> oof gini score:', gini_normalized(cat_y_valid, model.predict(cat_X_valid)))

pred_val = pred_val/num_folds

Running fold  1
Training until validation scores don't improve for 200 rounds.
[100]	training's auc: 0.740167	valid_1's auc: 0.732279
[200]	training's auc: 0.753367	valid_1's auc: 0.744032
[300]	training's auc: 0.759587	valid_1's auc: 0.749389
[400]	training's auc: 0.763613	valid_1's auc: 0.752327
[500]	training's auc: 0.766483	valid_1's auc: 0.753948
[600]	training's auc: 0.768822	valid_1's auc: 0.754881
[700]	training's auc: 0.770998	valid_1's auc: 0.755702
[800]	training's auc: 0.773031	valid_1's auc: 0.756355
[900]	training's auc: 0.774972	valid_1's auc: 0.756861
[1000]	training's auc: 0.776707	valid_1's auc: 0.757213
[1100]	training's auc: 0.778509	valid_1's auc: 0.757595
[1200]	training's auc: 0.780119	valid_1's auc: 0.757837
[1300]	training's auc: 0.78168	valid_1's auc: 0.758222
[1400]	training's auc: 0.783244	valid_1's auc: 0.758486
[1500]	training's auc: 0.78479	valid_1's auc: 0.758517
[1600]	training's auc: 0.786268	valid_1's auc: 0.758851
[1700]	training's auc: 0.787753	valid_1's auc: 0.758843
[1800]	training's auc: 0.789136	valid_1's auc: 0.758885
[1900]	training's auc: 0.790558	valid_1's auc: 0.759069
[2000]	training's auc: 0.79192	valid_1's auc: 0.759201
[2100]	training's auc: 0.793219	valid_1's auc: 0.75924
[2200]	training's auc: 0.79462	valid_1's auc: 0.759302
[2300]	training's auc: 0.795898	valid_1's auc: 0.759331
[2400]	training's auc: 0.797165	valid_1's auc: 0.759281
Early stopping, best iteration is:
[2272]	training's auc: 0.795515	valid_1's auc: 0.759366
fold: 1 / 5  -> oof gini score: 0.5187320615944908
Running fold  2
Training until validation scores don't improve for 200 rounds.
[100]	training's auc: 0.739448	valid_1's auc: 0.743355
[200]	training's auc: 0.752844	valid_1's auc: 0.752705
[300]	training's auc: 0.759024	valid_1's auc: 0.756829
[400]	training's auc: 0.762955	valid_1's auc: 0.75913
[500]	training's auc: 0.765788	valid_1's auc: 0.760549
[600]	training's auc: 0.768194	valid_1's auc: 0.761668
[700]	training's auc: 0.770411	valid_1's auc: 0.762237
[800]	training's auc: 0.772443	valid_1's auc: 0.76281
[900]	training's auc: 0.774279	valid_1's auc: 0.76319
[1000]	training's auc: 0.776047	valid_1's auc: 0.763482
[1100]	training's auc: 0.777861	valid_1's auc: 0.763831
[1200]	training's auc: 0.779595	valid_1's auc: 0.764081
[1300]	training's auc: 0.781216	valid_1's auc: 0.764327
[1400]	training's auc: 0.782797	valid_1's auc: 0.764473
[1500]	training's auc: 0.784331	valid_1's auc: 0.764726
[1600]	training's auc: 0.785882	valid_1's auc: 0.764795
[1700]	training's auc: 0.78728	valid_1's auc: 0.765005
[1800]	training's auc: 0.78866	valid_1's auc: 0.765139
[1900]	training's auc: 0.790066	valid_1's auc: 0.765216
[2000]	training's auc: 0.791472	valid_1's auc: 0.765277
[2100]	training's auc: 0.792821	valid_1's auc: 0.765261
[2200]	training's auc: 0.794197	valid_1's auc: 0.765365
[2300]	training's auc: 0.795498	valid_1's auc: 0.765435
[2400]	training's auc: 0.796847	valid_1's auc: 0.765407
Early stopping, best iteration is:
[2284]	training's auc: 0.795274	valid_1's auc: 0.765487
fold: 2 / 5  -> oof gini score: 0.5309742671689295
Running fold  3
Training until validation scores don't improve for 200 rounds.
[100]	training's auc: 0.739234	valid_1's auc: 0.736727
[200]	training's auc: 0.752924	valid_1's auc: 0.749888
[300]	training's auc: 0.759299	valid_1's auc: 0.754775
[400]	training's auc: 0.763218	valid_1's auc: 0.757042
[500]	training's auc: 0.766109	valid_1's auc: 0.758423
[600]	training's auc: 0.768509	valid_1's auc: 0.759179
[700]	training's auc: 0.770715	valid_1's auc: 0.760107
[800]	training's auc: 0.772652	valid_1's auc: 0.760593
[900]	training's auc: 0.774576	valid_1's auc: 0.761171
[1000]	training's auc: 0.776263	valid_1's auc: 0.761616
[1100]	training's auc: 0.777986	valid_1's auc: 0.761992
[1200]	training's auc: 0.779623	valid_1's auc: 0.762362
[1300]	training's auc: 0.781206	valid_1's auc: 0.762696
[1400]	training's auc: 0.78279	valid_1's auc: 0.76308
[1500]	training's auc: 0.784229	valid_1's auc: 0.763341
[1600]	training's auc: 0.785749	valid_1's auc: 0.763541
[1700]	training's auc: 0.787156	valid_1's auc: 0.763672
[1800]	training's auc: 0.788484	valid_1's auc: 0.76371
[1900]	training's auc: 0.789919	valid_1's auc: 0.763914
[2000]	training's auc: 0.79131	valid_1's auc: 0.763895
[2100]	training's auc: 0.792707	valid_1's auc: 0.763958
[2200]	training's auc: 0.793983	valid_1's auc: 0.764111
[2300]	training's auc: 0.795314	valid_1's auc: 0.76428
[2400]	training's auc: 0.796581	valid_1's auc: 0.764466
[2500]	training's auc: 0.79781	valid_1's auc: 0.764553
[2600]	training's auc: 0.79894	valid_1's auc: 0.764688
[2700]	training's auc: 0.800161	valid_1's auc: 0.764785
[2800]	training's auc: 0.801369	valid_1's auc: 0.764825
[2900]	training's auc: 0.802601	valid_1's auc: 0.764869
[3000]	training's auc: 0.803703	valid_1's auc: 0.764955
[3100]	training's auc: 0.804875	valid_1's auc: 0.764914
[3200]	training's auc: 0.806057	valid_1's auc: 0.764951
Early stopping, best iteration is:
[3054]	training's auc: 0.804381	valid_1's auc: 0.764979
fold: 3 / 5  -> oof gini score: 0.5299587372775789
Running fold  4
Training until validation scores don't improve for 200 rounds.
[100]	training's auc: 0.739939	valid_1's auc: 0.736776
[200]	training's auc: 0.752957	valid_1's auc: 0.749833
[300]	training's auc: 0.759126	valid_1's auc: 0.755124
[400]	training's auc: 0.763061	valid_1's auc: 0.758133
[500]	training's auc: 0.765837	valid_1's auc: 0.759594
[600]	training's auc: 0.768295	valid_1's auc: 0.760693
[700]	training's auc: 0.770369	valid_1's auc: 0.761331
[800]	training's auc: 0.772454	valid_1's auc: 0.761734
[900]	training's auc: 0.774397	valid_1's auc: 0.762278
[1000]	training's auc: 0.776208	valid_1's auc: 0.762695
[1100]	training's auc: 0.777884	valid_1's auc: 0.763209
[1200]	training's auc: 0.77961	valid_1's auc: 0.763668
[1300]	training's auc: 0.781205	valid_1's auc: 0.763976
[1400]	training's auc: 0.78278	valid_1's auc: 0.764227
[1500]	training's auc: 0.784386	valid_1's auc: 0.764598
[1600]	training's auc: 0.785919	valid_1's auc: 0.764709
[1700]	training's auc: 0.787421	valid_1's auc: 0.764845
[1800]	training's auc: 0.788758	valid_1's auc: 0.764998
[1900]	training's auc: 0.7902	valid_1's auc: 0.765178
[2000]	training's auc: 0.79161	valid_1's auc: 0.765074
[2100]	training's auc: 0.792886	valid_1's auc: 0.76511
Early stopping, best iteration is:
[1910]	training's auc: 0.790371	valid_1's auc: 0.76519
fold: 4 / 5  -> oof gini score: 0.5303809510743309
Running fold  5
Training until validation scores don't improve for 200 rounds.
[100]	training's auc: 0.739461	valid_1's auc: 0.7392
[200]	training's auc: 0.752852	valid_1's auc: 0.751428
[300]	training's auc: 0.758989	valid_1's auc: 0.756702
[400]	training's auc: 0.762815	valid_1's auc: 0.759834
[500]	training's auc: 0.765617	valid_1's auc: 0.761531
[600]	training's auc: 0.768031	valid_1's auc: 0.762555
[700]	training's auc: 0.770258	valid_1's auc: 0.763414
[800]	training's auc: 0.772192	valid_1's auc: 0.763912
[900]	training's auc: 0.774173	valid_1's auc: 0.764371
[1000]	training's auc: 0.775952	valid_1's auc: 0.764751
[1100]	training's auc: 0.777655	valid_1's auc: 0.764956
[1200]	training's auc: 0.779307	valid_1's auc: 0.765243
[1300]	training's auc: 0.780985	valid_1's auc: 0.765529
[1400]	training's auc: 0.782561	valid_1's auc: 0.765718
[1500]	training's auc: 0.784063	valid_1's auc: 0.765796
[1600]	training's auc: 0.785638	valid_1's auc: 0.766001
[1700]	training's auc: 0.78711	valid_1's auc: 0.766056
[1800]	training's auc: 0.78855	valid_1's auc: 0.766098
[1900]	training's auc: 0.789939	valid_1's auc: 0.766179
[2000]	training's auc: 0.791253	valid_1's auc: 0.766156
[2100]	training's auc: 0.792641	valid_1's auc: 0.766146
[2200]	training's auc: 0.793986	valid_1's auc: 0.766159
Early stopping, best iteration is:
[2051]	training's auc: 0.791965	valid_1's auc: 0.766222
fold: 5 / 5  -> oof gini score: 0.532443211026248

In [16]:
sub_fm = pd.DataFrame({"SK_ID_CURR":sk_id_curr, "TARGET":pred_val})
sub_fm.to_csv("./submit/lightgbm.csv",index=False)